<div class="page-header">
    <h3>FileAPI Upload Sample</h3>
</div>

<form class="form-inline">
    <select class="form-control" data-ng-model="category" data-ng-change="reload()">
        <option value="default">default</option>
        <option value="bar">bar</option>
        <option value="piyo">piyo</option>
        <option value="mega">mega</option>
        <option value="saga">saga</option>
    </select>
    <span class="btn btn-success btn-sm" onclick="$('#fileupload').trigger('click')">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
    </span>
    <input id="fileupload" type="file" name="files[]" multiple style="display: none">
    <a class="btn btn-success btn-sm" data-ng-click="reload()">reload</a>
</form>

<p>{{category}}</p>

